# Pandas - Part 1

Learning Objectives:
* Students will experientially gain competence in creating and manipulating Pandas Series and DataFrame objects.
* Students will practice basic indexing, selection, and universal function operations of Series and DataFrame objects.
* Students will learn how Pandas handles missing values, and a few basic techniques for dealing with missing values.
* Students will create and access hierarchically indexed DataFrame objects.

Readings before class:

* Jake VanderPlas.  [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/):
  * [Chapter 3 - Data Manipulation with Pandas through section "Hierarchical Indexing"](https://jakevdp.github.io/PythonDataScienceHandbook/)

Before class:
* Complete all of the readings exercises below as you do the reading.  You are encouraged to add code blocks and play with the forms to gain understanding and comfort with them.

In class:
* We will work together on the exercises in section "In Class".

Homework after class:
* Complete the section labeled "Homework" below before the next class when it will be collected.

In [1]:
# Place your imports here.

import numpy as np
import pandas as pd
np.random.seed(0)  # seed for reproducibility

# Pandas Exercises

**To-Do:** Complete all of the exercises below before class.

## Introducing Pandas Objects

In [2]:
phonetic = ['alfa', 'bravo', 'charlie']
letters = ['a', 'b', 'c']

# Create and print a Pandas Series object 's' with values 'alfa', 'bravo', and 'charlie' with corresponding indices 'a', 'b', and 'c'.



# Use a dictionary comprehension, zip, and the above arrays to build a dictionary 'letter_to_phonetic' mapping keys 'letters' to values 'phonetic'.  Print this dictionary.



# Print ord('a') to see the ordinal Unicode value that is the underlying encoding for character 'a'.



# Use a dictionary comprehension to create a dictionary 'letter_to_unicode' that maps keys 'letters' to corresponding Unicode values of those letters. Print this dictionary.



# Create a Pandas Dataframe object 'df_letter' that with columns named 'phonetic' and 'unicode' that uses dictionaries 'letter_to_phonetic' and 'letter_to_unicode' to initialize the Dataframe with row names 'a', 'b', 'c'.  Print 'df_letter'.  Hint: Note the reading example: states = pd.DataFrame({'population': population, 'area': area})



# Given 'df_incomplete', print the whole dataframe and then print just column c2, index 'first'.  Then print a string that interprets the acronym that was printed.
df_incomplete = pd.DataFrame([{'c1':1}, {'c2':2}], index=['first', 'second'])

## Data Indexing and Selection

In [3]:
all_letters = [l for l in 'abcdefghijklmnopqrstuvwxyz'.upper()]
all_unicode = [ord(l) for l in all_letters]
all_phonetic = 'Alfa, Bravo, Charlie, Delta, Echo, Foxtrot, Golf, Hotel, India, Juliett, Kilo, Lima, Mike, November, Oscar, Papa, Quebec, Romeo, Sierra, Tango, Uniform, Victor, Whiskey, X-ray, Yankee, Zulu'.split(', ')
print(all_letters)
print(all_unicode)
print(all_phonetic)

# Create a DataFrame 'df2' with all_letters as indices, with columns 'unicode' and 'phonetic' corresponding to all_unicode and all_phonetic, respectively. Print the head of DataFrame 'df2'.



# Print the slice of 'df2' that includes all columns but only rows 'J' through 'L', inclusive.



# Define 's2' as column 'unicode' of 'df2' using the form 'df2.unicode' and print the type of s2.  Then print 's2.keys()' and 's2.to_dict()'.  This shows that a Series (column of a DataFrame) can be worked with as a dictionary.



# Use the Python 'is' operator to show that df2['unicode'] is equivalent to df2.unicode.  For this reason, it is good to name your columns with Python-style identifiers that could be used with either column access scheme.



# Print the first three rows of the two-dimensional array of data in df2, accessing that data 2D array using df2.values.

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo', 'Foxtrot', 'Golf', 'Hotel', 'India', 'Juliett', 'Kilo', 'Lima', 'Mike', 'November', 'Oscar', 'Papa', 'Quebec', 'Romeo', 'Sierra', 'Tango', 'Uniform', 'Victor', 'Whiskey', 'X-ray', 'Yankee', 'Zulu']

## Operating on Data in Pandas

In [4]:
np.random.seed(0)
df3 = pd.DataFrame(np.array([np.random.uniform() for i in range(16)]).reshape(4, 4), columns=list('abcd'))
print(df3)

# UFuncs work on DataFrames and Series much the same way they do with Numpy arrays.  Print the result of calling UFunc function max on 'df3'.



# Did this print the maximum values along rows or columns?  Now print the maximum values of 'df3' along the other axis.



# Find the single mean value of the entire 'df3' DataFrame, print the mean, and print the result of 'df3' with the mean subtracted.  (Don't modify df3.)

          a         b         c         d
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
3  0.568045  0.925597  0.071036  0.087129

## Handling Missing Data

In [5]:
np.random.seed(123)
data = np.random.uniform(size=5)
print(data)

# Replace the second value of data with the special Numpy value that indicates that it is not a number.  Print the modified 'data' array.



# Print array 'data' multiplied by -1.  Print array 'data' minus 2.



# Print the sum of the values of array 'data', ignoring missing values.

[0.69646919 0.28613933 0.22685145 0.55131477 0.71946897]

## Hierarchical Indexing

In [6]:
data_str = '''2019_spring,CS111A,20218
2019_spring,CS111B,20424
2019_fall,CS111A,80191
2019_fall,CS111B,80192
2020_spring,CS111A,20197
2020_spring,CS111B,20364
2020_fall,CS111A,80179
2020_fall,CS111B,80180'''

# In each of the lines of the multiline string above are three comma separated values: the semester of a course section, the course name, and the database id number for that course.
# Create a multiindex DataFrame 'courses' of this data such that printing 'courses' yields:
#                        id
# 2019_spring CS111A  20218
#             CS111B  20424
# 2019_fall   CS111A  80191
#             CS111B  80192
# 2020_spring CS111A  20197
#             CS111B  20364
# 2020_fall   CS111A  80179
#             CS111B  80180

# In Class

First, check your pre-class work above with each other.

Then, work together to complete the following exercises.

## Introducing Pandas Objects

In [7]:
# Create and print a dictionary 'd' mapping from keys 'a', 'b', and 'c' to values 'alfa', 'bravo', and 'charlie', respectively.



# Build a Pandas Series object 's' from dictionary 'd' and print it.



# Print the DataFrame members 'index' and 'columns' of DataFrame 'df_letter' defined in readings exercises above.  This shows us how to access the row indices and column names as Index objects.  Hint: A member of an object is accessed with a dot (.) after the object reference and before the member name.  There are no parentheses after the member name when we are not calling a function.

## Data Indexing and Selection

In [8]:
# Set Series 's2' to be the 'unicode' column of 'df2', defined above.  Print 's2'.



# Use slicing to print rows 'X' through 'Z' of Series 's2'.



# Use implicit integer index slicing to print row indices 9 through 11 (inclusive) of 's2'.



# Use masking to print all rows of 's2' with values greater than 76 and less than or equal to 79.



# Use fancy indexing to print only rows 'H' and 'I' of 's2'.



# Print the transpose of df2 where the rows and columns are swapped.



# Use .loc to access and print the slice of the first 3 rows and first 2 columns of df2.



# Use .iloc to access and print the slice of the first 3 rows and first 2 columns of df2.



# Use .loc with masking to print the slice of df2 that shows only the phonetic column for all rows with unicode values from 80 through 82 (inclusive).

## Operating on Data in Pandas

In [9]:
np.random.seed(1)
data1 = pd.Series([np.random.uniform() for i in range(3)], index=['c','a','d'])
data2 = pd.Series([np.random.uniform() for i in range(3)], index=['d','a','b'])
print('data1:', data1, sep='\n')
print('data2:', data2, sep='\n')


# Print the result of adding data1 and data2. Observe what happens when there is insufficient information for an operation.



# Print the result of adding data1 and data2, but use the value 0 when a row value is missing from data1 or data2. Observe the result.

data1:
c    0.417022
a    0.720324
d    0.000114
dtype: float64
data2:
d    0.302333
a    0.146756
b    0.092339
dtype: float64

## Handling Missing Data

In [10]:
np.random.seed(4)
df_missing = pd.DataFrame(np.random.randint(-50, 51, (3, 3)), columns=list('ABC'))
print(df_missing)

# Set the first row, second column to be np.nan.  Print the modified df_missing.  Note the up-conversion of column B to allow for the floating point np.nan value.



# One way of handling missing values is to drop rows and/or columns that have unknown values.  Print the result of dropping rows of df_missing that contain missing values (without modifying 'df_missing').



# Print the result of dropping columns of df_missing that contain missing values (without modifying 'df_missing').



# Add a new column 'D' to df_missing that contains all np.nan values.  Print 'df_missing'.



# Print the result of dropping all rows of df_missing that exceed a threshold of 1 NaN value.

    A   B   C
0  -4   5  19
1 -49  37  22
2   0 -41   8

## Hierarchical Indexing

In [11]:
# Using your hierarchically-indexed 'courses' DataFrame defined above, print the unstacked version of 'courses'.



# Set the semester index name to 'semester' and the course section index name to 'section'.  Print 'courses' with this modification.



# Use sort_index to lexicographically sort the indices of courses in order to allow slicing with explicit index values.  Print the index-sorted 'courses' DataFrame.



# Print the '2020_fall' sections portion of 'courses'.

# Homework

(0) Complete the in-class exercises.  (This may be done with others beyond your assigned pairs.)

(1) Introducing Pandas Objects

In [12]:
digit_names = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Use a dictionary comprehension and enumerate to create a dictionary 'digit_dict' with digit_names as keys and the digits they represent as the corresponding values. Print this dictionary.



# Create a Pandas Series 's' with digit_dict and print index 'seven' of Series 's'.



# Print the slice of 's' from 'two' through 'four' inclusive.



# Print the Series returned for column 'phonetic' from DataFrame 'df_letter' defined in readings exercises above.



# Given the list of dictionaries 'dict_list' given below, create and print the DataFrame 'df' initialized with 'dict_list'.
dict_list = [{'x':x, 'xpow2':(x * x), 'y':(x * x + 2 * x + 1)} for x in np.linspace(-5, 5, 3)]



# Change the 'df' column names 'x' and 'xpow2' to 'x1' and 'x2' respectively.  Print 'df' to verify your changes.

(2) Data Indexing and Selection

In [13]:
data = pd.Series(['Ann', 'Bob', 'Cal'], index=[-1, 0, 1])
print(data)

# Print data[0] and then print 'implicit' or 'explicit' depending on whether it is using implicit or explicit indexing.



# Print data[0:2] and then print 'implicit' or 'explicit' depending on whether it is using implicit or explicit indexing.



# Note that the 0 referred to a different row depending on whether implicit or explicit indexing is used.  For this reason Pandas allows loc and iloc index specifiers to show clearly which indexing scheme is to be used.  For each of the following expressions, print the string of the expression, then the value of the expression.  The first is done for you.  Study the resulting output.
# data.loc[0]
print('data.loc[0]')
print(data.loc[0])

# data.loc[0:2]


# data.iloc[0]


# data.iloc[0:2]


# Use .iloc to print the value 'Charlie' from df2 defined above.

-1    Ann
 0    Bob
 1    Cal
dtype: object
data.loc[0]
Bob

(3) Operating on Data in Pandas

In [14]:
np.random.seed(42)
df_a = pd.DataFrame(np.random.randint(-5, 6, (3, 2)), columns=list('HI'))
print(df_a)
df_b = pd.DataFrame(np.random.randint(-5, 6, (4, 4)), columns=list('WISH'))
print(df_b)

# Define DataFrame 'df_c' as 'df_a' multiplied by 'df_b'.  Print it.



# Compute and print the mean value of all values in df_a



# Recompute 'df_c' using this mean value as a fill value for every df_a value lacking in the multiplication operation. Print our new 'df_c' DataFrame.

   H  I
0  1 -2
1  5  2
2 -1  1
   W  I  S  H
0  4 -3  1  5
1  5  2 -1 -2
2  2  2 -3  0
3 -1 -4  2  0

(4) Handling Missing Data

In [15]:
# Modify Dataframe 'df_missing' (defined above) by dropping any column where all values are missing.  Use the dropna function with a 'how' parameter as your method. Print your modified 'df_missing'.



# One way of handling missing values is to replace them with mean values.  Compute the mean value for each column and use the fillna function to replace any NaN value with the mean value of its column.  Print the resulting 'df_missing'.

(5) Hierarchical Indexing

In [16]:
# fake grade data
np.random.seed(100)
data = np.round(np.random.randn(4, 6), 1)
data[:, :] *= .4
data += 3.5

# Following the mock medical data example of the reading, use MultiIndex.from_product to build and print a Data frame from the following data that prints as follows.
# name              Ann             Bob             Cal        
# GPA_type      Sem_GPA Cum_GPA Sem_GPA Cum_GPA Sem_GPA Cum_GPA
# year semester                                                
# 2019 spring      2.82    3.62    3.98    3.38    3.90    3.70
#      fall        3.58    3.06    3.42    3.62    3.30    3.66
# 2020 spring      3.26    3.82    3.78    3.46    3.30    3.90
#      fall        3.34    3.06    4.14    4.10    3.38    3.18



# Print Bob's grade data from this DataFrame.



# Print Bob's Cum_GPA data from this DataFrame.



# Print Bob's Cum_GPA data for 2019 from this DataFrame.



# Print Bob's Cum_GPA for the fall of 2019 from this DataFrame.

(end of homework)