# Pandas - Part 2

Learning Objectives:
* Students will experientially gain competence in combining Pandas Series and DataFrame objects with concat, append, merge and join.
* Students will experientially gain competence in performing aggregation and grouping operations Series and DataFrame objects.

Readings before class:

* Jake VanderPlas.  [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/):
  * Chapter 3 - Data Manipulation with Pandas sections:
    * ["Combining Datasets: Concat and Append"](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html) _NOTE: ```pandas.concat``` no longer supports parameter ```join_axes``` as used in the text.  It is deprecated, meaning that it shouldn't be used henceforth.  Better software design allows for backwards compatability and suggests deprecation so that programmers don't need to be continually rewriting their code._
    * ["Combining Datasets: Merge and Join"](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html)
    * ["Aggregation and Grouping"](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html)

Before class:
* Complete all of the readings exercises below as you do the reading.  You are encouraged to add code blocks and play with the forms to gain understanding and comfort with them.

In class:
* We will work together on the exercises in section "In Class".

Homework after class:
* Complete the section labeled "Homework" below before the next class when it will be collected.

In [1]:
# Place your imports here.

import numpy as np
import pandas as pd
import random
random.seed(0)
np.random.seed(0)  # seed for reproducibility

# Pandas Exercises

**To-Do:** Complete all of the exercises below before class.

## Combining Datasets: Concat and Append

In [2]:
# Assign s3 to be the Pandas concatenation of the two following Series.
# Read the documentation of concat to see how you can ignore the s1 and s2 indices,
# resulting in s3 having indices 0 through 5.
# Print the result.
s1 = pd.Series(['x1', 'x2', 'x3'])
s2 = pd.Series(['x4', 'x5', 'x6'])
print('\ns1', s1, sep='\n')
print('\ns2', s2, sep='\n')




# Assign df3 to be the Pandas concatenation of the two following DataFrames that adds the rows of df2 after those of df1.
# One way to deal with them having the same indices is to create a multi-index.
# Do so with top-level indices 'dataset1' and 'dataset2', such that printed output looks like this:
# df3
#             x1  x2  x3
# dataset1 0  44  47  64
#          1  67  67   9
# dataset2 0  83  21  36
#          1  87  70  88
df1 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(1, 4)])
df2 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(1, 4)])
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')




# We will now reassign columns so that df1 and df2 each have a column the other does not.
df2.columns = ['x' + str(i) for i in range(2, 5)]
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')
# Assign df3 to be the appending of df2 to the end of df1 using an outer join that yields a 4 row, 4 column result with NaN values.
# Indices should be 0 through 3.  Print the result.

s1
0    x1
1    x2
2    x3
dtype: object

s2
0    x4
1    x5
2    x6
dtype: object

df1
   x1  x2  x3
0  44  47  64
1  67  67   9

df2
   x1  x2  x3
0  83  21  36
1  87  70  88

df1
   x1  x2  x3
0  44  47  64
1  67  67   9

df2
   x2  x3  x4
0  83  21  36
1  87  70  88

## Combining Datasets: Merge and Join

In [3]:
# We now define df4 and df5 that share a common column course_id:
course_data = [['2020_spring', 'CS111A', 20197],
    ['2020_spring',' CS111B', 20364],
    ['2020_fall', 'CS111A', 80179],
    ['2020_fall', 'CS111B', 80180]]
df4 = pd.DataFrame(data=[[row[0], row[2]] for row in course_data], columns=['semester', 'course_id'])
random.shuffle(course_data)
df5 = pd.DataFrame(data=[[row[1], row[2]] for row in course_data], columns=['section', 'course_id'])
print('\ndf4', df4, sep='\n')
print('\ndf5', df5, sep='\n')
# Compute and print DataFrame df6 as a merge of df4 and df5 with a one-to-one join on course_id.




# Create and print DataFrames df7 and df8 such that they print like this:
#
# df7
#   x1
# b  f
# a  o
# r  o
#
# df8
#   x2
# b  b
# r  a
# a  z
#
# Compute and print DataFrame df9 as the join of df7 and df8.
# By default, the DataFrame join method will join on the indices (letters 'b', 'a', and 'r' in this case)




# Compute and print df12, an outer join of df10 and df11 (using merge).
data1 = {'letter':['A', 'B', 'C'], 'phonetic':['Alfa', 'Bravo', 'Charlie']}
data2 = {'letter':['C', 'J', 'M'], 'name': ['Charles', 'Juliett', 'Mike']}
df10 = pd.DataFrame(data=data1, columns=list(data1.keys()))
df11 = pd.DataFrame(data=data2, columns=list(data2.keys()))
print('\ndf10', df10, sep='\n')
print('\ndf11', df11, sep='\n')

df4
      semester  course_id
0  2020_spring      20197
1  2020_spring      20364
2    2020_fall      80179
3    2020_fall      80180

df5
   section  course_id
0   CS111A      80179
1   CS111A      20197
2   CS111B      20364
3   CS111B      80180

df10
  letter phonetic
0      A     Alfa
1      B    Bravo
2      C  Charlie

df11
  letter     name
0      C  Charles
1      J  Juliett
2      M     Mike

## Aggregation and Grouping

In [4]:
df_ints = pd.DataFrame(data=np.random.randint(1000, size=(5, 5)) - 500, columns=list('abcde'))
print('\ndf_ints', df_ints, sep='\n')

# Print the maximum values of each column of df_ints.




# Print the minimum values of each row of df_ints.




# Use groupby and sum aggregation to compute and print the sum of values associated with each key of df_xyzzy,
# with separate sums for data1 and data2 columns.
df_xyzzy = pd.DataFrame(data={'key': list('XYZZY'),
                   'data1': np.random.randint(1000, size=(5)),
                   'data2': np.random.randint(1000, size=(5))}, columns=['key', 'data1', 'data2'])
print('\ndf_xyzzy', df_xyzzy, sep='\n')




# Use filtering to print only the rows of df_xyzzy where the sum of 'key' data1 or data2 associated values have a sum > 1000.

df_ints
     a    b    c    d    e
0  100 -104 -186  205  -14
1   51 -413 -326  100  349
2  177   37  345 -428  277
3  416 -385  476  255  209
4  347  -69  -52  350 -401

df_xyzzy
  key  data1  data2
0   X    984    147
1   Y    177    910
2   Z    755    423
3   Z    797    288
4   Y    659    961

# In Class

First, check your pre-class work above with each other.

Then, work together to complete the following exercises.

## Combining Datasets: Concat and Append

In [5]:
# Assign df3 to be the Pandas concatenation of the two following DataFrames.
# Read the documentation of concat to see how you can ignore the df1 and df2 indices,
# resulting in df3 having indices 0 through 3.
# Print the result.
df1 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(1, 4)])
df2 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(1, 4)])
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')




# We will now reassign columns so that df1 and df2 each have a column the other does not.
df2.columns = ['x' + str(i) for i in range(2, 5)]
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')
# Assign df3 to be the Pandas concatenation of df1 and df2 using an outer join that yields a 4 row, 4 column result with NaN values.
# Indices should be 0 through 3.  Print the result.

df1
   x1  x2  x3
0   9  57  32
1  31  74  23

df2
   x1  x2  x3
0  35  75  55
1  28  34   0

df1
   x1  x2  x3
0   9  57  32
1  31  74  23

df2
   x2  x3  x4
0  35  75  55
1  28  34   0

## Combining Datasets: Merge and Join

In [6]:
# We now define df4 and df5 that share a common column course_id:
course_data = [['2020_spring', 'CS111A', 20197],
    ['2020_spring','CS111B', 20364],
    ['2020_fall', 'CS111A', 80179],
    ['2020_fall', 'CS111B', 80180]]
section_letter_data = [['CS111A', 'A'], ['CS111B', 'B']]
# Create and print DataFrame df4, which should contain course_data with columns 'semester', 'section', and 'course_id'.
# Create and print DataFrame df5, which should contain section_letter_data with columns 'section' and 'section_letter'.
# Compute and print DataFrame df6 as a merge of df4 and df5 with a many-to-one join on section.
# It should have the same number of rows as df4, but with additional column 'section_letter'.




# We now define df7 and df8 to have course_id as their indices.
df7 = df4[['course_id', 'semester']].copy()
df8 = df4[['course_id', 'section']].copy() # This will generate an error until you complete the previous exercise.
df7 = df7.set_index('course_id')
df8 = df8.set_index('course_id')
print('\ndf7', df7, sep='\n')
print('\ndf8', df8, sep='\n')
# Compute and print DataFrame df9 as a one-to-one merge of df7 and df8 using left_index and right_index parameters.




# Next, we redefine df8 with the same data, except 'course_id' is a column, not the index.
# Compute and print df9 as a merge of df7 and df8, using the course_id of each for the merge.
# Make sure the result still has 'course_id' as its index so the result appears as the prior exercise.
df8 = df4[['course_id', 'section']].copy()
print('\ndf7', df7, sep='\n')
print('\ndf8', df8, sep='\n')




# Compute and print df12, the left join of df10 and df11 (using merge).
data1 = {'x1':list('ABC'), 'x2':list('XYZ')}
data2 = {'x1':list('BCD'), 'x3':list('PDQ')}
df10 = pd.DataFrame(data=data1, columns=list(data1.keys()))
df11 = pd.DataFrame(data=data2, columns=list(data2.keys()))
print('\ndf10', df10, sep='\n')
print('\ndf11', df11, sep='\n')

KeyError: "['section'] not in index"

## Aggregation and Grouping

In [7]:
print('\ndf_ints', df_ints, sep='\n')

# Print the mean value of each column of df_ints (defined above).




# Print the standard deviation values of each row of df_ints.




# Use groupby and aggregation to compute and print the minimum and maximum values associated with each key of df_xyzzy,
# with data1 and data2 being first-level column names, and 'min' and 'max' being second-level in the hierarchical column indexing.
# The output should look like this:
#
#     data1      data2     
#       min  max   min  max
# key                      
# X     984  984   147  147
# Y     177  659   910  961
# Z     755  797   288  423
print('\ndf_xyzzy', df_xyzzy, sep='\n')

df_ints
     a    b    c    d    e
0  100 -104 -186  205  -14
1   51 -413 -326  100  349
2  177   37  345 -428  277
3  416 -385  476  255  209
4  347  -69  -52  350 -401

df_xyzzy
  key  data1  data2
0   X    984    147
1   Y    177    910
2   Z    755    423
3   Z    797    288
4   Y    659    961

# Homework

(0) Complete the in-class exercises.  (This may be done with others beyond your assigned pairs.)

(1) Combining Datasets: Concat and Append

In [8]:
# Assign df3 to be the Pandas concatenation of the two following DataFrames, concatenating rows.
# Use "axis=1", rather than "axis='col'".
# Print the resulting df3 which should have 2 rows and 6 columns.
df1 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(1, 4)])
df2 = pd.DataFrame(np.random.randint(100, size=(2, 3)), columns=['x' + str(i) for i in range(4, 7)])
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')




# We will now reassign columns so that df1 and df2 each have a column the other does not.
df2.columns = ['x' + str(i) for i in range(2, 5)]
print('\ndf1', df1, sep='\n')
print('\ndf2', df2, sep='\n')
# Assign df3 to be the Pandas concatenation of df1 and df2 using an inner join that yields a 4 row, 2 column result with no NaN values.
# Indices should be 0 through 3.  Print the result.

df1
   x1  x2  x3
0   0  36  53
1   5  38  17

df2
   x4  x5  x6
0  79   4  42
1  58  31   1

df1
   x1  x2  x3
0   0  36  53
1   5  38  17

df2
   x2  x3  x4
0  79   4  42
1  58  31   1

(2) Combining Datasets: Merge and Join

In [9]:
# Assign df6 to be the many-to-many merge of the two following DataFrames.
# Print and observe the result.
df4 = pd.DataFrame(data=[['N', 'A'], ['I', 'D'], ['C', 'D'], ['E', 'R']], columns=['x1', 'x2'])
df5 = pd.DataFrame(data=[['R', 'P'], ['A', 'I'], ['D', 'N'], ['A', 'G'], ['R', 'S']], columns=['x2', 'x3'])
print('\ndf4', df4, sep='\n')
print('\ndf5', df5, sep='\n')




# We now change the column names of df5 to be 'y1' and 'y2'.
df5.columns = ['y1', 'y2']
print('\ndf5', df5, sep='\n')
# Perform the same computation of df6, but specify that 'x2' and 'y1' are the columns used in the merge.
# Then drop 'y1' and print the result, which should be the same as the prior result except that 'x3' is now 'y2'.




# Compute and print df9, an inner join of df7 and df8 (using merge).
data1 = {'letter':['A', 'B', 'C'], 'phonetic':['Alfa', 'Bravo', 'Charlie']}
data2 = {'letter':['C', 'J', 'M'], 'name': ['Charles', 'Juliett', 'Mike']}
df7 = pd.DataFrame(data=data1, columns=list(data1.keys()))
df8 = pd.DataFrame(data=data2, columns=list(data2.keys()))
print('\ndf7', df7, sep='\n')
print('\ndf8', df8, sep='\n')




# Sometime objects in different databases have different identifiers and we want to retain both in a merge of data.
# For example, Magic: The Gathering playing cards have a Scryfall id and a MTG Arena id.
scryfall_data = {'card_name':['Pacifism', 'Llanowar Elves', 'Fblthp, the Lost'], 'id':["9e0671ff-ad06-43ae-87cd-06a1341e971b", "581b7327-3215-4a4f-b4ae-d9d4002ba882", "52558748-6893-4c72-a9e2-e87d31796b59"]}
arena_data = {'card_name':['Pacifism', 'Llanowar Elves', 'Fblthp, the Lost'], 'id':[75457, 67440, 69501]}
df_scryfall = pd.DataFrame(data=scryfall_data, columns=list(scryfall_data.keys()))
df_arena = pd.DataFrame(data=arena_data, columns=list(arena_data.keys()))
print('\ndf_scryfall', df_scryfall, sep='\n')
print('\ndf_arena', df_arena, sep='\n')
# Create and print DataFrame df_card_ids that is the merge of df_scryfall and df_arena on card_name, and adding suffixes '_scryfall' and '_arena' to the 'id' columns.
# When printed, it should look like this:
#
#           card_name                           id_scryfall  id_arena
# 0          Pacifism  9e0671ff-ad06-43ae-87cd-06a1341e971b     75457
# 1    Llanowar Elves  581b7327-3215-4a4f-b4ae-d9d4002ba882     67440
# 2  Fblthp, the Lost  52558748-6893-4c72-a9e2-e87d31796b59     69501

df4
  x1 x2
0  N  A
1  I  D
2  C  D
3  E  R

df5
  x2 x3
0  R  P
1  A  I
2  D  N
3  A  G
4  R  S

df5
  y1 y2
0  R  P
1  A  I
2  D  N
3  A  G
4  R  S

df7
  letter phonetic
0      A     Alfa
1      B    Bravo
2      C  Charlie

df8
  letter     name
0      C  Charles
1      J  Juliett
2      M     Mike

df_scryfall
          card_name                                    id
0          Pacifism  9e0671ff-ad06-43ae-87cd-06a1341e971b
1    Llanowar Elves  581b7327-3215-4a4f-b4ae-d9d4002ba882
2  Fblthp, the Lost  52558748-6893-4c72-a9e2-e87d31796b59

df_arena
          card_name     id
0          Pacifism  75457
1    Llanowar Elves  67440
2  Fblthp, the Lost  69501

(3) Aggregation and Grouping

In [10]:
print('\ndf_ints', df_ints, sep='\n')

# Print the median value of each column of df_ints (defined above).




# Print the sum of all values of each row of df_ints.




# Below is a randomly generated DataFrame df_rand with labels a, b, and c.
labels=list('abc' * 10)
random.shuffle(labels)
rand_data = {'label':labels, 'value':np.random.normal(loc=10, scale=20, size=(len(labels)))}
df_rand = pd.DataFrame(data=rand_data, columns=list(rand_data.keys()))
print('\ndf_rand.head()', df_rand.head(), sep='\n')
# Group by label and transform each label's values to have mean of 0 and standard deviation by
# subtracting the group mean and then dividing by the group standard deviation.
# (Assign the transformed values back to the 'value' column.)
# This can be done in one line.



# This is test code to see if you have successfully normalized the data by label.
print('\nThe mean and std should be approximately 0 and 1 respectively:', df_rand.groupby('label').aggregate([np.mean, np.std]), sep='\n')

df_ints
     a    b    c    d    e
0  100 -104 -186  205  -14
1   51 -413 -326  100  349
2  177   37  345 -428  277
3  416 -385  476  255  209
4  347  -69  -52  350 -401

df_rand.head()
  label      value
0     b   3.041757
1     c  13.126979
2     b  34.605814
3     c  34.047597
4     b   2.253464

The mean and std should be approximately 0 and 1 respectively:
          value
           mean        std
label
a      6.025357   9.316300
b     -3.502713  16.561677
c      7.634104  23.926277

(end of homework)